In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [31]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2022-04-03 15:04:44,-53.1500,-70.9167,46.51,61,40,32.21
1,1,Alice Springs,AU,2022-04-03 15:06:54,-23.7000,133.8833,56.75,44,0,0.00
2,2,Mataura,NZ,2022-04-03 15:02:58,-46.1927,168.8643,45.30,98,53,1.83
3,3,Erdenet,MN,2022-04-03 15:06:54,49.0333,104.0833,34.92,58,40,4.63
4,4,Luderitz,NaN,2022-04-03 15:06:55,-26.6481,15.1594,65.75,74,0,13.35

In [32]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [33]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [34]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2022-04-03 15:06:55,-23.1203,-134.9692,75.87,64,41,8.79
6,6,Coruripe,BR,2022-04-03 15:06:55,-10.1256,-36.1756,82.96,70,55,12.17
8,8,Hithadhoo,MV,2022-04-03 15:06:56,-0.6000,73.0833,83.75,69,25,5.53
11,11,Butaritari,KI,2022-04-03 15:04:08,3.0707,172.7902,81.21,71,65,14.83
14,14,Panlaitan,PH,2022-04-03 15:06:57,12.1191,119.8486,81.86,71,97,7.61
17,17,Georgetown,MY,2022-04-03 15:04:14,5.4112,100.3354,78.73,89,40,0.00
20,20,Catamarca,AR,2022-04-03 15:06:59,-28.4696,-65.7852,80.58,38,0,3.00
30,30,Cape Town,ZA,2022-04-03 15:06:39,-33.9258,18.4232,75.34,63,0,11.01
32,32,Bambous Virieux,MU,2022-04-03 15:05:28,-20.3428,57.7575,79.21,78,75,12.66
41,41,Hurghada,EG,2022-04-03 15:07:08,27.2574,33.8129,79.99,40,100,15.68

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5           Rikitea      PF     75.87 -23.1203 -134.9692
6          Coruripe      BR     82.96 -10.1256  -36.1756
8         Hithadhoo      MV     83.75  -0.6000   73.0833
11       Butaritari      KI     81.21   3.0707  172.7902
14        Panlaitan      PH     81.86  12.1191  119.8486
17       Georgetown      MY     78.73   5.4112  100.3354
20        Catamarca      AR     80.58 -28.4696  -65.7852
30        Cape Town      ZA     75.34 -33.9258   18.4232
32  Bambous Virieux      MU     79.21 -20.3428   57.7575
41         Hurghada      EG     79.99  27.2574   33.8129

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,75.87,-23.1203,-134.9692,People ThankYou
6,Coruripe,BR,82.96,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
8,Hithadhoo,MV,83.75,-0.6000,73.0833,Scoop Guest House
11,Butaritari,KI,81.21,3.0707,172.7902,Isles Sunset Lodge
14,Panlaitan,PH,81.86,12.1191,119.8486,Panlaitan Cetro Beach
17,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
20,Catamarca,AR,80.58,-28.4696,-65.7852,Amerian Catamarca Park Hotel
30,Cape Town,ZA,75.34,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
32,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
41,Hurghada,EG,79.99,27.2574,33.8129,Sea Star Beau Rivage Hotel

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))